<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/admin.css">
</head>
<body>
    <h1>userlist</h1>
    <div class="user_list">
    <% userdata.map(x=>{%>

        <div class="list">
            <h1><%= x.name %></h1>
        <p><%= x.age  %></p>
        </div>

    <%}) %>

    </div>
    <h1>booklist</h1>
    <div class="books_list">
        <% booksdata.map(x=>{%>
            <div class="list2">
                <h1><%= x.title %></h1>
            <p><%= x.author %></p>
            </div>

        <%}) %>

    </div>
    
</body>
</html>